.letter
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose-reverse
    .partyrose-reverse
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose-reverse
    .partyrose-reverse
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose-reverse
    .partyrose-reverse
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose-reverse
    .partyrose-reverse
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose-reverse
    .partyrose-reverse
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
  .row
    .partyrose-reverse
    .partyrose-reverse
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
    .partyrose
