.space
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
  .row
    .partyrose
    .partyrose
