
.column-half
  = image_tag("rose.jpg", class: "main-image")
.column-half
  .title
    Hello!
  .content
    %p
      Kiaora, I'm Rose Lu! <br> <br>

      I graduated from Canterbury University in 2011 with a Bachelor of Engineering (Hons) in Mechatronics Engineering. Following that I worked as an embedded C developer for 2 years, then made the switch into Ruby on Rails development in 2013. <br> <br>

      I'm interested in working with diverse teams, non hierachical organisations and on projects with social impact. <br> <br>

      Outside of work I'm usually found cycling, yoga-ing, cooking and hanging out.
