.partyrose {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url(image_path("partyrose.gif"));
  background-size: 20px 20px;
}

.partyrose-reverse {
  float: left;
  width: 20px;
  height: 20px;
  background-image: url(image_path("reverse-partyrose.gif"));
  background-size: 20px 20px;
}

.repeat-x {
  width: 100%;
  background-repeat: repeat-x;
}

.repeat {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-repeat: repeat;
}

.next-party-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  a {
    text-decoration: none;
    color: yellow;
    font-size: x-large;
    font-weight: bold;
  }
}

.letter {
  float: left;
}


.space {
  float: left;
}

.row {
  width: 100%;
}

.pad-border-left, .pad-border-right {
  height: 280px;
  width: 40px;
  float: left;
  background-image: url(image_path("partyrose.gif"));
  background-size: 20px 20px;
  background-repeat: repeat;
}

.pad-border-top, .pad-border-bottom {
  width: 100%;
  height: 40px;
  float: left;
  background-image: url(image_path("partyrose.gif"));
  background-size: 20px 20px;
  background-repeat: repeat;
}

.pad-letter-between {
  width: 40px;
  height: 280px;
  float: left;
  background-image: url(image_path("partyrose.gif"));
  background-size: 20px 20px;
  background-repeat: repeat;
}

.pad-letter-left, .pad-letter-right {
  height: 280px;
  width: 40px;
  float: left;
  background-image: url(image_path("partyrose.gif"));
  background-size: 20px 20px;
  background-repeat: repeat;
}
